<!doctype html>
<html ng-app="app">
  <head>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular.min.js"></script>
  </head>
  <body>
    <div ng-controller="calController">
      <h1>Simple Calculator!</h1>
        <button type="number" ng-click="numberButton(1)">1 </button>
        <button type="number" ng-click="numberButton(2)">2 </button>
<!--        <button ng-model="total"></button>-->
        <button ng-model="add">+</button>
        <button ng-model="subtract">-</button>
        
        <button ng-click="equals()">=</button>
        <h3>{{ displayed }}</h3>
        <button ng-click="clear()">CLEAR</button>
    </div>
    <script src="js/app.js"></script>
    <script src="js/controllers/main.js"></script>
  </body>
</html>