<!doctype html>
<html ng-app="app">
   <head>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular.min.js"></script>
        <link rel="stylesheet" href="main.css">
  </head>
  <body>
        <div class="calculator" ng-controller="calController">
          <h3>Simple Calculator</h3>
          <div class="display"><h3>{{ displayed }}</h3></div>
<!--          <input type="text">-->
        <div class="numbersDiv">
            <button type="number" ng-click="numberButton(1)">1 </button>
            <button type="number" ng-click="numberButton(2)">2 </button>
            <button type="number" ng-click="numberButton(3)">3 </button>
            <button type="number" ng-click="numberButton(4)">4 </button>
            <button type="number" ng-click="numberButton(5)">5 </button>
            <button type="number" ng-click="numberButton(6)">6 </button>
            <button type="number" ng-click="numberButton(7)">7 </button>
            <button type="number" ng-click="numberButton(8)">8 </button>
            <button type="number" ng-click="numberButton(9)">9 </button>
            <button id="zero" type="number" ng-click="numberButton(0)">0 </button>
        </div>
        <div class="operatorsDiv">
            <button class="operator" ng-click="operation('add')">+</button>
            <button class="operator" ng-click="operation('subtract')">-</button>
            <button class="equals" ng-click="equals()">=</button>
            <button class="operator" ng-click="operation('multiply')">x</button>
            <button class="operator" ng-click="operation('divide')">/</button>
            <button class="clear" ng-click="clear()">AC</button>
        </div>
        
    </div>
    <script src="js/app.js"></script>
    <script src="js/controllers/main.js"></script>
  </body>
</html>